* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
width: 100%;
background-color: lightblue;
position: fixed;
float: right
top:0px;
z-index:3;
}

.body {
display: block;
    width: 100%;
position:relative;
top:100px;
left:0%;
background-color: rgb(240, 125, 202)
}

.formBlock {
    display: block;
width: 100%;
background-color: rgb(138, 17, 128);
}

.form {
display: inline-block;
left: 40%;
width: 100%;
position:relative;
}

#footer {
width: 100%;
background-color: darkblue;
position: fixed;
bottom: 0px;
}

.image {
    length: 25%;
    height: 25%;
    width: 25%;
position:relative;
padding: 40px;
left:32%;
}